* {
  margin: 0px;
}
.contenido {
  background: #00a3e0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boton {
  padding: 12px 36px;
  cursor: pointer;
  border: 3px solid;
  background: #0066b2;
  font-size: 20px;
  margin: 200px 100px;
  position: absolute;
  border-radius: 20px;
  text-transform: uppercase;
  color: white;
}
